@model Application.DTOs.KhachHangDTO

@{
    ViewData["Title"] = "Register";
}



<div class="limiter">
		<div class="container-login100" style="background-image: url('/image/bg-01.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
		<form method="POST">
			<h1>Register</h1>
			@if (ViewBag.TB != null)
			{
				<div class="alert alert-danger">@ViewBag.TB</div>
			}

			@if (ViewBag.TC != null)
			{
				<div class="alert alert-success">@ViewBag.TC</div>
			}
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatKhau"  class="control-label"></label>
                <input asp-for="MatKhau" type="Password" class="form-control"/>
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmMatKhau"  class="control-label"></label>
                <input asp-for="ConfirmMatKhau"  type="Password" class="form-control"/>
                <span asp-validation-for="ConfirmMatKhau" class="text-danger"></span>
            </div>
			<div class="form-group">
                <label asp-for="TenUser"  class="control-label"></label>
                <input asp-for="TenUser"   class="form-control"/>
                <span asp-validation-for="TenUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDienThoai" class="control-label"></label>
                <input asp-for="SoDienThoai" class="form-control"/>
                <span asp-validation-for="SoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control"/>
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
			<div class="form-group">
                <label asp-for="GioiTinh" class="control-label"></label>
                <input asp-for="GioiTinh" class="form-control"/>
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
			<div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>

						</div>
					</div>

					<div class="txt1 text-center p-t-54 p-b-20">
						<span>
							Hoặc đăng ký
						</span>
					</div>

					<div class="flex-c-m">
						<a href="#" class="login100-social-item bg1">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="login100-social-item bg2">
							<i class="fa fa-twitter"></i>
						</a>

						<a href="#" class="login100-social-item bg3">
							<i class="fa fa-google"></i>
						</a>
					</div>

					<div class="flex-col-c p-t-155">
						<span class="txt1 p-b-17">
							Đã có tài khoản
						</span>

						<a asp-controller="Home" asp-for="Login" class="txt2">
							Đăng nhập
						</a>
					</div>
				}
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>

@section css
{
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/font/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/font/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/cs/util.css">
	<link rel="stylesheet" type="text/css" href="~/cs/main.css">
}

@section scripts
{
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="~/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="~/vendor/bootstrap/js/popper.js"></script>
	<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="~/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="~/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="~/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="~/j/main.js"></script>
}